body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('back.jpg'); 
    background-size: cover; /
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #f0f0f0; 
}

.stopwatch-container {
    text-align: center;
}

.stopwatch {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3f83cd;
    color: white;
    outline: none;
}

button:active {
    background-color: #3f83cd;
}
